
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  border: 1px solid red;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
}

#map {
  height: 100%;
}

.owner {
  display: flex;
  justify-content: space-between;
}


